/*
 *
 * fonts
 *
 ************************************************************************************************/

$primary-font: 'montserratregular', sans-serif;
$primary-font-i: 'montserratitalic', sans-serif;
$primary-font-bold: 'montserratbold', sans-serif;
$primary-font-bold-i: 'montserratbold_italic', sans-serif;

$base-font-size:            16;
$base-line-height:          1.5;
$base-margin-bottom:        ($base-font-size * $base-line-height) * 1px;
$base-vertical-margin:      16px;


/*
 *
 * colors
 *
 ************************************************************************************************/

$gray-light: #eaeaea;
$gray: #cdcdcd;
$gray-dark: #232323;
$white: #fff;

/* temperature colors */
$below-freezing: #006a89;
$thirties: #01a5ce;
$forties: #26bbb5;
$fifties: #6bb774;
$sixties: #f4c942;
$seventies-above: #f07c21;


/*
 *
 * global properties
 *
 ************************************************************************************************/

$screen-xs:                  480px !default;
$screen-sm:                  768px !default;
$screen-md:                  992px !default;
$screen-tablet:              1024px !default;
$screen-lg:                  1200px !default;
$screen-xl:                  1400px !default;

/* screen minimums */
$screen-xs-min:              $screen-xs !default;
$screen-sm-min:              $screen-sm !default;
$screen-md-min:              $screen-md !default;
$screen-tablet-min:          $screen-tablet !default;
$screen-lg-min:              $screen-lg !default;
$screen-xl-min:              $screen-xl !default;

/* screen maximums */
$screen-xxs-max:             ($screen-xs-min - 1) !default;
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-mobile-max:          ($screen-tablet-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-lg-max:              ($screen-xl-min - 1) !default;


/*
 *
 * global properties
 *
 ************************************************************************************************/

$spacer: 16px;

$transition-duration: .3s;