/*
 * header
 *
 ************************************************************/

.header {

  @include bem-e('container') {
    background-color: $gray-dark;
    color: $white;
  }

  @include bem-e('inner') {
    padding: ($spacer / 2) 0;
  }
}