/*
 * global typographic treatment
 *
 ************************************************************/

html,
body {
  @include line-height(14, 30);

  font-family: $primary-font;
  color: $gray;
  // make everything look a little nicer in webkit
  -webkit-font-smoothing: antialiased;

  @media
    only screen and (-webkit-min-device-pixel-ratio: 1.25),
    only screen and (min-device-pixel-ratio: 1.25),
    only screen and (min-resolution: 200dpi),
    only screen and (min-resolution: 1.25dppx) { -webkit-font-smoothing: subpixel-antialiased; }
}


/*
 * headers
 *
 ************************************************************/

h1, h2, h3,
.h1, .h2, .h3 {
  margin-bottom: $base-vertical-margin;
  font-weight: normal;
}

h1,
.h1 {
  @include line-height(40, 60);
  @include font-size(40);

  font-family: $primary-font-bold;
}

h2,
.h2 {
  @include line-height(36, 54);
  @include font-size(36);

  font-family: $primary-font-bold;
}

h3,
.h3 {
  @include line-height(30, 52);
  @include font-size(30);

  font-family: $primary-font;
}



/*
 * basic typographic elements
 *
 ************************************************************/

address,
p,
ul,
ol {
  @include line-height(14, 26);
  @include font-size(14);
}

ul,
ol { padding-left: 18px; }

ul { list-style-type: disc; }


 // basic text link
a {
  text-decoration: underline;
  font-family: $primary-font-bold;

  &:focus,
  &:hover { text-decoration: none; }
}
